// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  color: white;
  font-size: 1.7em;
  float: left;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background: asset_url('matthias-wagner-unsplash');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.page-content {
  background-color: lightgrey;
}
